doctype html
html
  head
    title #{user.username}
  body
    div
      h2 Id
      p
        span= user.id
      h2 Nombre
      p
        span= (user.names + ' ' + user.last_names)
      h2 E-mail
      p
        span= user.email
      h2 Facebook Id
      p
        span= user.facebook_id
      p
        form(action='/users/#{user.id}/edit', method='get')
          input(type='submit' value='Editar')
        form(action='/users/#{user.id}/delete', method='post')
          input(type='submit' value='Eliminar')


