doctype html
html
  head
    title username
  body
    div
      form(action='/users/#{user.id}', method='post')
        p
          label(for='names') Nombre(s)
          br
          input(id='names', type='text', value='#{user.names}', name='names')
        p
          label(for='last_names') Apellidos
          br
          input(id='last_names', type='text', value='#{user.last_names}', name='last_names')
        p
          label(for='email') E-mail
          br
          input(id='email', type='text', value='#{user.email}', name='email')
        p
          label(for='facebook_id') Facebook Id
          br
          input(id='facebook_id', type='text', value='#{user.facebook_id}', name='facebook_id')
        p
          label(for='password') Contraseña
          br
          input(id='password', type='password', value='', name='password')
        input(type='submit', value='Enviar')