doctype html(lang='es')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
    |         
    title Pr&eacute;stamos
    // CSS
    link(href='/stylesheets/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
    |         
    link(href='/stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
  |     
body
    header
      .navbar-fixed
        //
        
        nav
          .nav-wrapper
<<<<<<< HEAD
            a.brand-logo(href='/') &nbsp;&nbsp;&nbsp; Amoxtli
              |                             
              ul.right.hide-on-med-and-down
                li
                  a(href='/sessions/logout') Cerrar Sesi&oacute;n
                li
                  a(href='/users/index') Ver Perfil
=======
            a.brand-logo(href='/') Amoxtli
            |                             
            ul.right.hide-on-med-and-down
              li
                a(href='/localhost:3000') Cerrar Sesi&oacute;n
>>>>>>> 4f25c8b0b2d9cff3697ccc11df32463c08d7b9a9
              // Dropdown Trigger
    |         
    main
      br
      |          
      if lendings   
        .container
          each val in lendings
            .center
              .col.s12.m6
                .card.blue-grey.darken-1
                  .card-content.white-text
                    span.card-title Prestamo del libro #{val.id_book}
                    |                      
                    p
                      | Libro #{val.book_name} solicitado para prestamo el d&iacute;a #{val.lending_date} con devolucion para el #{val.delivery_date}
                  |                     
      else
        h1 No tienes préstamos pendientes mijito =^u^=
      //ENDS ELSE
        |                 
        br
        |                
        .center
          button.btn-large.waves-effect.waves-light(type='submit', name='action')
            | No has hecho prestamos c:
            i.mdi-content-add-box.right
    |                 
    br
    |         
    footer.page-footer
      .container
        .row
          .center
            h5.white-text Sistema Amoxtli
            |                 
            p.grey-text.text-lighten-4 A&uacute;n en desarrollo.
      |           
      .footer-copyright
        .container
          | &copy; 2015 Derechos Reservados
<<<<<<< HEAD
          a.grey-text.text-lighten-4.right(href='/users/new') Regresar
=======
          a.grey-text.text-lighten-4.right(href='#!') Regresar
>>>>>>> 4f25c8b0b2d9cff3697ccc11df32463c08d7b9a9
    // SCRIPTS
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    |         
    script(src='/javascripts/materialize.js')
    |         
    script(src='/javascripts/init.js')
